#cor-prta{
  background-color: #0E1013;
}
footer{
  /* display: none; */
}
.titulo-footer h2{
display: flex;
text-align: left;
flex-direction: column;
  padding:50px;
  color:#fbfbfb;
  font-size: 24px;
  font-family: "Saira";
font-weight: 700;
}
.footer-icons{
  display: flex;
  padding:50px;
  justify-content: flex-end;
  align-items: center;

  transition: ease .65s;
}
.footer-icons a{
  font-size: 30px;
  transition: all .65s;
  margin-left: 25px;
  color:#fbfbfb
}
.footer-icons a:hover{

  color: #6eaaf3;
  transition: all .65s;
}

@media (max-width: 768px) {
  .footer-icons{
    justify-content: center;
  
  }
  .titulo-footer h2{
    text-align: center;
    }
}