
.caixa {

  justify-items: center;
  height: 100vh;
  align-items: center; 
}


  .caixa .titulo-caixa h1::after {
    content: '|';
    margin-left: 5px;
    display: inline-block;
  }
  
  .hero-txt span{
    border-bottom: 2px solid #f85a40 ;
 }
 .botoes-caixa{
display: flex;
justify-content: space-evenly;

 }
 .botoes-caixa a {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #d1d1d1;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  text-decoration:none; 
  margin-left: 0%;
  font-size: 20px;
  font-family: "Saira";
  font-weight: 700;
 }
  .botoes-caixa a:hover{
    color: #fbfbfb;
    box-shadow: inset 100px 0 0 0 #54b3d6;
    text-decoration:none; 
  }
  @media screen and (max-width: 960px){
    .caixa {
height: inherit;
      justify-items: center;
      align-items: center; 
    }
    .caixa .titulo-caixa h1{
      text-align: center;
      margin-left: 0px;
  
  }
  .caixa .titulo-caixa h2 {
    font-size: 2rem;
    text-align: left;
    margin-left: 60px;
    color: #fbfbfb;
  }
  .hero-img img {
/* max-height: 800px ; */
  }
   }
   @media (max-width: 400px) {
    .caixa {
      justify-items: center;
      align-items: center; 
    }
   }
   @media (max-width: 400px) {

    .botoes-caixa{
      display: inline;
    


       }
       .botoes-caixa a {
        border-radius: 5px;
        background-color: rgb(46, 46, 46, 0.3);
        box-shadow: inset 0 0 0 0 #54b3d6;
        color: #d1d1d1;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
        text-decoration:none; 
        margin-left: 10%;
        font-size: 20px;
        font-family: "Saira";
        font-weight: 700;
       }
       .caixa{
        padding-top: 50px;
        padding-bottom: 50px;
       }
       .botoes-caixa{
     
       }
         }
   
#hero{
  display: flex;
  justify-content: center;
  align-items: center;
}

