.foto-caixa img{
width: 100%;

}

.sobre-titulo{

    align-items: center;
    display: flex;
    justify-content: center;
}

.sobre-txt p{
    text-align: left; /* Alinha o texto à esquerda */
    margin: 0 auto; /* Centraliza o elemento na horizontal */
    width: 60%; /* Define uma largura para o elemento, pode ajustar conforme necessário */
    color: #AFAFAF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sobre-txt span{
    color: #fbfbfb;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.sobre-icons{
    margin: 0 auto; 
    width: 15%;
    padding-top: 5%;
    transition: ease .65s;
}
.sobre-icons a{
    font-size: 30px;
    transition: all .65s;
    margin-left: 25px;
    color:#fbfbfb
}
.sobre-icons a:hover{
    /* font-size: 32px; */
    color: #6eaaf3;
    line-height: 35px;
    transition: all .65s;
}
@media (max-width: 800px) {
    .sobre-icons{
        width: 25%;
        padding-top: 5%;
        transition: ease .65s;
    }
   }
  @media screen and (max-width: 400px){
    .sobre-txt p{

        font-size: 18px !important;

    }
    .sobre-txt span{

        font-size: 20px !important;

    }
    .sobre-icons{
        margin: 0 auto; 
        width: 50%;
        padding-top: 5%;
        transition: ease .65s;
    }
    .sobre-icons a{
        font-size: 30px;
        transition: all .65s;
        margin-left: 25px;
        color:#fbfbfb
    }
}